body{
    margin-left: 2%;
}

div#todo-list > p, p.completed{
    background-color: green;
    color: white;
    padding: .5em;
    border-radius: .2em;
    display: inline-block;
    margin-right: .75em;
}

p.completed{
    text-decoration: line-through;
    background-color: lightgreen !important;
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: .25em;
}

textarea{
    vertical-align: top;
}

#create-item{
    display: inline-block;
}

#create-item > button{
    margin-top: 1em;
}

#read-item{
    margin: 1em;
}

/*Add New Item border*/
.fieldset {
    border: 2px groove threedface;
    border-top: none;
    padding: 0.5em;
    margin: 1em 2px;
  }
  
  .fieldset>h1 {
    font: 1em normal;
    margin: -1em -0.5em 0;
  }
  
  .fieldset>h1>span {
    float: left;
  }
  
  .fieldset>h1:before {
    border-top: 2px groove threedface;
    content: ' ';
    float: left;
    margin: 0.5em 2px 0 -1px;
    width: 0.75em;
  }
  
  .fieldset>h1:after {
    border-top: 2px groove threedface;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.5em;
  }
/* end fieldset border */